<ion-view view-title="My Orders">
    <ion-content class="orderdetail ordertrackingpage">
        <ion-item ng-if="msg != null">{{msg}}</ion-item>
        <div class="orderwrapper">
            <div class="orderdata orderblock">
                <h4 class="title">Tracking Detail</h4>
                <div class="row">
                    <div class="col col-50">Docket No.</div>
                    <div class="col col-50"><span ng-bind="orderTrack.order_id"></span></div>
                </div>
                <div class="row">
                    <div class="col col-50">Shipping Date</div>
                    <div class="col col-50"><span ng-bind="orderTrack.tracking_ship_date"></span></div>
                </div>
                <div class="row">
                    <div class="col col-50">Tracking Number</div>
                    <div class="col col-50"><span ng-bind="orderTrack.tracking_number"></span></div>
                </div>
                <div class="row">
                    <div class="col col-50">Tag</div>
                    <div class="col col-50"><span ng-bind="orderTrack.tag"></span></div>
                </div>
                <div class="row">
                    <div class="col col-50">Signed By</div>
                    <div class="col col-50"><span ng-bind="orderTrack.signed_by "></span></div>
                </div>
            </div>

            <div class="trackbubble " ng-repeat="trackList in orderTrack.checkpoints">
                 <div class="row">
                    <div class="col col-100"><h5>Message</h5><p ng-bind="trackList.message"></p></div>
                    <!--<div class="col col-50"><h5>Slug</h5><p ng-bind="trackList.slug"></p></div>-->
                    </div>
                <div class="row">
                    <div class="col col-100"><h5>Checkpoint time</h5><p ng-bind="trackList.checkpoint_time | date:'medium'"></p></div>
                </div>
                <div class="row">
                    <div class="col col-50"><h5>City</h5><p ng-bind="trackList.city"></p></div>
                    <div class="col col-50"><h5>Zip</h5><p ng-bind="trackList.zip"></p></div>
                </div>
                <div class="row">
                    
                    <div class="col col-50"><h5>State</h5><p ng-bind="trackList.state"></p></div>
                    <div class="col col-50"><h5>Tag</h5><p ng-bind="trackList.tag"></p></div>
                    </div>
               

            </div>
            

        </div>

    </ion-content>
</ion-view>