 <ion-view view-title="Wish List">
  <ion-content class="">
   	<div class="row">
      <ion-item ng-if="msg != null">{{msg}}</ion-item> 
      <div class="col col-50" ng-repeat="item in wishList">
        <a ng-click="wishDetails(item)">
          <div>
            <img class="full-image" src="{{ item.image1_850_1036 }}" style="height:200px;width: 200px;" alt=""/>
          </div>
          <span class="product-title">{{ item.product_headline }}</span>
          <span class="price dark" ng-if="item.usual_retail_price">{{ item.usual_retail_price | currency:'&#8377;'}}</span>
          <span class="old-price" ng-if="item.discounted_amount">{{ item.discounted_amount | currency:'&#8377;'}}</span>
        </a>
      </div>
    </div>
   	<ion-infinite-scroll 
          ng-if="moreData" 
          distance="5%" 
          on-infinite="getWishList()"
          spinner="crescent">
        </ion-infinite-scroll> 
  </ion-content>
</ion-view>

