<ion-nav-buttons side="right">
    
</ion-nav-buttons>
<ion-view view-title="Payment Information">
  <ion-content class="">
    <ion-list>
      <h3 style="text-align:center">Order Status</h3>
      <div class="msg-container">
        <div class="success messagebox">
          <h3> Success </h3>
          <p id="msg_success"></p>
          <img src="img/true_order.png" height="50" width="50"/>
        </div>
      </div>
     <div class="padding">    
      <a href="#/home" class="button button-block button-energized">
       Go to Home
      </a>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
