<ion-view view-title="Reloadable Reward Card">
  <ion-content class="reloadcardpage">
    <div class="list list-inset">
      <div >
        <h2>Reloadable - Reward Card</h2>
         <div class="coverimage" style="background-image:url(./img/reloadablecard.jpg)">
                <img class="full-image hide"  src="./img/reloadablecard.jpg"  alt=""/>
          </div>
        
          <p style="text-align: justify">This Gift card is valid till 3 year from the date of purchase. Freedom to make purchase of your choice wider network Easy to manage, monitor and distribute Upto Rs. 10,000/- Multiple reloading option is available in this card Card can be redeemed in all offline stores and multiple redemptions are allowed. Card can be redeemed during store promotions/offers. SMS alert on every transactions Cash can't be withdrawn In case card is misplaced or stolen bluepaymax.com is not responsible. This card cannot be exchanged for cash/gift cards/credit notes. This card cannot be returned or refunded.</p>
      </div>
      <ion-item ng-if="msg != null">{{msg}}</ion-item>  

          <label class="item item-input item-stacked-label">
            <span class="input-label">Recharge Value</span>
            <input type="number" ng-model="reloadabledata.rechargevalue" placeholder="Enter value between 3000 to 19990" ng-change="reloadablePv(reloadabledata.rechargevalue)">
          </label>           
          <div>
            <ion-item>
              <span class="input-label">Point Value</span>
               <span ng-if="reloadabledata.pv">{{reloadabledata.pv}}<span>
               </ion-item>
          </div>
          <div class="padding">
            <button class="button button-block button-energized" ng-click="reloadableCardBuy(reloadabledata)">
             Buy Now
            </button>
          </div>
    </div>
  </ion-content>
</ion-view>
