
 <ion-view view-title="Daily Report">
  <ion-content class="reportpage">
    <ion-list>
    	<ion-item ng-if="msg != null">{{msg}}</ion-item> 
      <ion-item ng-if="dailyreports.length > 0" ng-repeat="report in dailyreports" class="referencelist">        
        <div  class="item item-divider header" ng-click="toggleGroup(report)" ng-class="{active: isGroupShown(report)}" >
                 <i class="icon" ng-class="isGroupShown(report) ? '' : ''"></i> 
                  <!--<span>Pay Id :{{report.payid}}</span>-->
                  &nbsp;
                  <span> <i class="icon ion-pie-graph people"></i>{{report.payid}}  <i class="icon ion-arrow-down-b arrow down"></i><i class="icon ion-arrow-up-b arrow up"></i></span>
                <!--  <img  style="display: inline-block;" class="pull-right" width="90" height="90" ng-src="./img/logo.png">-->
        </div>
        <div class="item-accordion detail" ng-show="isGroupShown(report)">              
                
                 <div class="row item">
                    <div class="col col-70"><span >Login Id</span></div>
                    <div class="col col-30 text-right"> {{report.loginid}}</div>
                  </div>
                  
                  <div class="row item">
                    <div class="col col-70"><span>Fullname</span></div>
                    <div class="col col-30 text-right"><span>{{report.fullname}}</span></div>
                  </div>
                  <div class="row item">
                    <div class="col col-70"><span>Llpv</span></div>
                    <div class="col col-30 text-right"><span>{{report.llpv}}</span></div>
                  </div>
                  <div class="row item">
                    <div class="col col-70"><span>Confl Side</span></div>
                    <div class="col col-30 text-right"><span>{{report.conflside}}</span></div>
                  </div>
                  <div class="row item">
                    <div class="col col-70"><span>Paid pv</span></div>
                    <div class="col col-30 text-right"><span>{{report.paidpv}}</span></div>
                  </div>
                  <div class="row item">
                    <div class="col col-70"><span>Pv Income</span></div>
                    <div class="col col-30 text-right"><span>{{report.pvincome}}</span></div>
                  </div>
                  <div class="row item">
                    <div class="col col-70"><span>Level Income</span></div>
                    <div class="col col-30 text-right"><span>{{report.levelIncome}}</span></div>
                  </div>
                   <div class="row item">
                    <div class="col col-70"><span>Single LegIncome</span></div>
                    <div class="col col-30 text-right"><span>{{report.singleLegIncome}}</span></div>
                  </div>
                   <div class="row item">
                    <div class="col col-70"><span>Total Income</span></div>
                    <div class="col col-30 text-right"><span>{{report.totalincome}}</span></div>
                  </div>
                   <div class="row item">
                    <div class="col col-70"><span>Single Legdeduction</span></div>
                    <div class="col col-30 text-right"><span>{{report.singleLegdeduction}}</span></div>
                  </div>
                
                 
        </div> 
        
      </ion-item>
    </ion-list>
    <!-- <ion-infinite-scroll
      ng-if="moreData" 
      distance="1%" 
      on-infinite="showdailyreports()"
      spinner="crescent">
    </ion-infinite-scroll>  -->
  </ion-content>
</ion-view>