<ion-view view-title="Extra power fuel card">
  <ion-content class="reloadcardpage">
    <div class="list list-inset">
      <div >
        <h2 ng-bind="fuelcard.output.product_headline"></h2>
          <div class="coverimage" style="background-image:url({{fuelcard.images.image_1.image1_300_366}})">
                <img class="full-image hide"  ng-src="{{fuelcard.images.image_1.image1_300_366}}"  alt=""/>
          </div>
          
         <h4 ng-bind="fuelcard.output.highlights"></h4>
          <p ng-bind="fuelcard.output.product_description"></p>
      </div>
      <ion-item ng-if="msg != null">{{msg}}</ion-item>  

          <label class="item item-input item-stacked-label">
            <span class="input-label">Recharge Value</span>
            <input type="number" ng-model="fuelcarddata.rechargevalue" placeholder="Enter value between 3000 to 20000" ng-change="fuelcardPv(fuelcarddata.rechargevalue)">
          </label>           
          <div>
            <ion-item>
              <span class="input-label">Point Value</span>
               <span ng-if="fuelcarddata.pv">{{fuelcarddata.pv}}<span>
               </ion-item>
          </div>
          <div class="padding">
            <button class="button button-block button-energized" ng-click="fuelcardCardBuy(fuelcarddata)">
             Buy Now
            </button>
          </div>
    </div>
  </ion-content>
</ion-view>
