 <div class="modal image-modal">
        <header class="bar  bar-positive">          
          <div class="button pull-right  button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
        </header>
        <ion-content class="has-header" has-header="true" padding="true" scroll="false">      
        <div class="full-image" style="background-image:url({{activeSlide}});">
            <img class="full-image hide" src="{{ activeSlide }}"  width="100%" alt=""/>
        </div>
</ion-content>
   
  </div>