<ion-view view-title="Change Password">
  <ion-content>
    <form>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="password" ng-model="change.oldPassword" placeholder="Old Password">
      </label>
      <label class="item item-input">
        <input type="password" ng-model="change.pass1" placeholder="New Password">
      </label>
      <label class="item item-input">
        <input type="password" ng-model="change.pass2" placeholder="Re-Type New Password">
      </label>
    </div>
    <div>
      <span>{{msg}}</span>
    </div>
    <div style="margin: auto;display: table;">
      <button class="button button-energized" ng-click="changePassword()">
        Update
      </button>
    </div>
    </form>
  </ion-content>
</ion-view>
